#home-banner{
    background-image: url('../../assets/banner.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: .2; */
}