#home-banner{
    background-image: url('../../assets/banner.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: .2; */
}
 #fresh-cake{
    background-image: url('../../assets/fresh-cake.jpg');
    width: 100%;
    height: 485px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    /* background-position: center top; */
 }

#bg-pettern {
    background-image: url('../../assets/bg-pattern.jpg');
    width: 100%;
    height: 745px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#bg-pettern-about {
    background-image: url('../../assets/bg-pattern.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bg-1 {
    background-image: url('../../assets/bg-1.jpg');
    width: 100%;
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bg-2 {
    background-image: url('../../assets/bg-2.jpg');
    width: 100%;
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 640px) {
    #home-banner{
        height: 450px;
        opacity: .2;
        z-index: 1;
        position: relative;
    }
    #bg-pettern {
        height: 545px;
    }
    #bg-2 {
        height: 300px;
    }
}