/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  @apply lg:w-[1170px] mx-auto
}

body {
  font-family: 'Poppins', sans-serif;
  margin-top: 75px;
}

.text-decorative {
  font-family: 'Great Vibes', cursive;
  ;
}

@media screen and (max-width: 639px) {
  body{
    margin-top: 55px;
  }
}