/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  @apply lg:w-[1170px] mx-auto
}

.my-btn{
  @apply bg-pink py-4 md:py-5 px-10 my-8 text-white rounded-lg font-semibold hover:bg-btn-hover drop-shadow-xl
}

body {
  font-family: 'Poppins', sans-serif;
  margin-top: 75px;
}

.text-decorative {
  font-family: 'Great Vibes', cursive;
  ;
}

/* Lazy Loading CSS */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.is-visible {
  opacity: 1;
}



@media screen and (max-width: 639px) {
  body{
    margin-top: 55px;
  }
}